<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Выпускной проект</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script th:inline="javascript">
        //если юзер видит заполненной поле frontendData, то он авторизован, в противном случае нет
        var frontendData = [[${frontendData}]];
    </script>
</head>
<body>
    <h3>Список кафе</h3>
<!--    <table>-->
<!--        <thead> <tr>-->
<!--        <th>Id</th>-->
<!--        <th>Cafe</th>-->
<!--        <th>Date of notes</th>-->
<!--        <th>Rating</th>-->
<!--        <th>Edit</th>-->
<!--        <th>Delete</th>-->
<!--        <th></th> <th></th> </tr>-->
<!--    </table>-->
    <div id="app"></div>
<script src="js/main.js"></script>
</body>
</html>